* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    -webkit-text-size-adjust: 100%;
}

main {
  font-family: 'Roboto Mono', monospace;
}

img {
  max-width: 90vw;
  max-height: 40vh;
}

.landing {
  min-height: 100vh;
}

.middle-landing {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-content {
  text-align: center;
}

.intro {
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  background: #570D07;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
}

.intro-text {
  color: white;
  font-family: 'Roboto Mono', monospace;
  font-size: 2rem;
}

.hide {
  background: black;
  overflow: hidden;
}

.hide span {
  transform: translateY(100%);
  display: inline-block;
}
