* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
}

main {
  font-family: 'Roboto Mono', monospace;
}

footer {
  font-family: 'Roboto Mono', monospace;
  font-size: .75rem;
  color: white;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

img.tiger {
  max-width: 90vw;
  max-height: 90vh;
}

.viewport {
  min-height: 100vh;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slider {
  background: #570D07;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(-100%);
}
